.about {
  background: linear-gradient( to right, #fff 50%, rgb(245, 245, 245) 50%);
  width: 100%;
  min-height: 449rem;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460rem;
    min-height: 449rem;
  }

  &__title {
    font-weight: 800;
    font-size: 32rem;
    line-height: 131%;
    letter-spacing: -0.5rem;
    margin-bottom: 50rem;
  }

  &__sub-title {
    font-weight: 600;
    font-size: 18rem;
    line-height: 156%;
    letter-spacing: -0.5rem;
    color: #707070;
    opacity: 0.7;
  }

  &__image {
    position: absolute;
    top: 25%;
    left: 560rem;
    width: 300rem;
    height: 294.89rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width:95%;
  }

  &__list-title {
    position: relative;
    font-weight: 700;
    font-size: 24rem;
    line-height: 142%;
    letter-spacing: -0.5rem;
  }
}
