.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4rem;
  cursor: pointer;
  &.active {
    position: relative;
  }

  &__line-top {
    width: 4rem;
    height: 2px;
    background-color: #fff;
    &.active {
      position: absolute;
      top: 53%;
      transform: rotate(45deg);
    }
  }
  &__wrapper-line-center {
    display: flex;
    justify-content: space-between;
    &.active {
      display: none;
    }
  }
  &__line-center--left {
    width: 1.6rem;
    height: 2px;
    background-color: #fee040;
  }
  &__line-center--right {
    width: 1.6rem;
    height: 2px;
    background-color: #fee040;
  }
  &__line-bottom {
    width: 4rem;
    height: 2px;
    background-color: #fff;

    &.active {
      position: absolute;
      bottom: 43%;
      transform: rotate(-45deg);
    }
  }
}
