.commercial-offer {
  height: 194rem;
  max-width: 320rem;

  &__discription {
    color: rgb(148, 148, 148);
    margin-top: 40rem;
    max-width: 320rem;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
  }
}
