.commercial-offer {
  height: 19.4rem;
  max-width: 32rem;
 
  &__discription {
    color: rgb(148, 148, 148);
    margin-top: 4rem;
    max-width: 32rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}
