.cost {
  height: 44.6rem;
  background: linear-gradient(
      180deg,
      rgba(0, 78, 134, 0.8) 0%,
      rgba(10, 65, 104, 0.8) 100%
    ),
    url(../common/images/bg-header.jpg) 0 0 / cover no-repeat;
  background-attachment: fixed;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44.6rem;
    gap: 2.8rem;
  }
  &__title {
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 131%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #fff;
  }
  &__title-yelow {
    color: #fee040;
  }
  &__sub-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 156%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
}
