.description {
  min-height: 20.9rem;
  width: 58rem;

  &__title-wpap {
    width: 58rem;
    margin-bottom: 3.8rem;
  }
  &__title {
    color: #fff;
    font-weight: 800;
    font-size: 4.2rem;
    line-height: 5.1rem;
    letter-spacing: -0.5px;
  }
  &__sub-title-wrap {
    width: 36.3rem;
  }
  &__sub-title {
    color: rgb(148, 148, 148);
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

@media (max-width: 767px) {
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__title {
      font-size: 3rem;
    }
  }
}
