.email {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 31rem;

  &__text {
    color: rgb(148, 148, 148);
    font-weight: 600;
    font-size: 12rem;
    line-height: 12rem;
    letter-spacing: -0.5rem;
  }

  &__address {
    color: rgb(254, 224, 63);
    font-weight: 600;
    font-size: 14rem;
    line-height: 12rem;
  }
  &__address-black {
    color: black;
  }
}
