.features {
  display: flex;
  justify-content: space-between;
  width:80%;
  
  &__block {
    display: flex;
    align-items: center;
    gap: 2.0rem;
    width: 30rem;
  }
  &__discription {
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.8rem;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
}
