.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    min-height: 12.1rem;
    width: 100%;
  }

  &__brand-block {
    display: flex;
    align-items: center;
    width: 27rem;
  }
  &__brand-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #707070;
  }

  &__brand-text_link {
    text-decoration: underline;
  }

  &__contacts-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
}

.address-text-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 992px) {
  .footer {
    &__contacts-block {
      width: 75%;
    }
    &__brand-block {
      width: 22rem;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    &__brand-block {
      display: none;
    }
    &__contacts-block {
      flex-wrap: wrap;
      gap: 3rem;
      margin: 3rem;
    }
  }
}
