.gift {
  display: flex;
  min-height: 408rem;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(0, 78, 134, 0.8) 0%,
      rgba(10, 65, 104, 0.8) 100%
    ),
    url(../common/images/bg-header.jpg) 0 0 / cover no-repeat;
  background-attachment: fixed;

  &__container {
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 168rem;
    width: 100%;
  }
  &__title {
    width: 460rem;
    font-weight: 800;
    font-size: 32rem;
    line-height: 131%;
    letter-spacing: -0.5rem;
    height: 100%;
    color: #ffffff;
   
    &_yelow {
      color: rgb(254, 224, 63);
    }
  }

  &__sub-title-wrapper {
    width: 460rem;
   
  }

  &__sub-title {
    margin-bottom: 20rem;
    font-weight: 600;
    font-size: 18rem;
    line-height: 156%;
    letter-spacing: -0.5rem;
    color: #ffffff;
  }
}
