.gift {
  display: flex;
  min-height: 40.8rem;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(0, 78, 134, 0.8) 0%,
      rgba(10, 65, 104, 0.8) 100%
    ),
    url(../common/images/bg-header.jpg) 0 0 / cover no-repeat;
  background-attachment: fixed;

  &__container {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    min-height: 16.8rem;
    width: 100%;
  }
  &__title {
    width: 46rem;
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 131%;
    letter-spacing: -0.5px;
    height: 100%;
    color: #ffffff;
   
    &_yelow {
      color: rgb(254, 224, 63);
    }
  }

  &__sub-title-wrapper {
    width: 46rem;
   
  }

  &__sub-title {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 156%;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  .gift{
    &__container {
      text-align: center;
      padding-top: 2rem;
      justify-content:center;
      flex-wrap: wrap;
    }
  }
}
