.mobile-num {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 44rem;

  &__icon {
    color: rgb(148, 148, 148);
  }
  &__text {
    font-weight: 600;
    font-size: 12rem;
    line-height: 12rem;
    letter-spacing: -0.5rem;
    color: rgb(148, 148, 148);
  }
  &__number {
    font-weight: 700;
    font-size: 20rem;
    color: #fff;
  }
  &__number-black {
    color: #151515;
  }
}
