.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80rem;
  &__logo-block {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    min-width: 22%;
  }
  &__email-block {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    min-width: 32%;
  }
}
