.reviews {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360rem;
    gap: 28rem;
    min-height: 352rem;
  }

  &__header-title {
    font-weight: 700;
    font-size: 20rem;
    line-height: 16rem;
    letter-spacing: 20rem;
    text-transform: uppercase;
    color: #2f80ed;
  }

  &__header-sub-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 131%;
    letter-spacing: -0.5px;
    color: #151515;
  }
  &__header-description {
    font-weight: 600;
    font-size: 18rem;
    line-height: 156%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #707070;
    width: 900rem;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40rem;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 509rem;
  }

  &__card-icon {
    position: absolute;
    left: -50rem;
    top: -50rem;
  }

  &__card-img {
    width: 300px;
  }

  &__card-customer {
    font-weight: 700;
    font-size: 16rem;
    line-height: 162%;
    letter-spacing: -0.5rem;
    color: #151515;
    opacity: 0.7;
    border-radius: 2rem;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 199rem;
  }
}
