.step-third {
  min-height: 51.2rem;
  background: rgb(245, 245, 245);

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 53rem;
    margin: 8rem 0 5rem 15rem;
  }

  &__list {
    position: relative;
  }

  &__list-item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -0.5px;
    color: rgb(208, 208, 208);
  }
  &__image {
    width: 100%;
    height: 51.2rem;
  }
}

@media (max-width: 992px) {
  .step-third {
    &__image {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .step-third {
    &__description {
      text-align: center;
      margin: 3rem;
      gap: 1rem;
      width: 43rem;
    }
  }
}
