.step-second {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36rem;
    gap: 2.8rem;
  }

  &__sub-title {
    text-align: center;
    width: 77rem;
  }

  &__swiper {
    width: 100%;
    height: 46rem;
    margin-bottom: 5rem;
  }

  &__swiper_mobile {
    display: none;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 34rem;
    height: 41.7rem;
    background: linear-gradient(to bottom, #fff 20%, rgb(245, 245, 245) 20%);
  }

  &__card-image {
    height: 30rem;
  }

  &__card-description {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 138%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #151515;
    opacity: 0.7;
  }
}

@media (max-width: 767px) {
  .step-second {
    &__swiper {
     display: none;
    }

    &__swiper_mobile {
      display:block;
    }
  
    &__header {
      gap: 1rem;
    }
    &__sub-title {
      width:50rem;
    }
  }
}
