.step-first {
  position: relative;
  background-color: rgb(245, 245, 245);

  &__image {
    width: 100%;
    height: 440rem;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 460rem;
    height: 130rem;
    margin: 84rem 0 0 80rem;
  }
  &__feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 460rem;
    height: 130rem;
    margin: 32rem 0 0 80rem;
  }

  &__feedback-icon {
    height: 100rem;
    border: 10rem solid #fff;
    border-radius: 50%;
  }
  &__feedback-engineer {
    font-weight: 400;
    font-size: 16rem;
    line-height: 150%;
    letter-spacing: -0.5px;
    color: #505050;
    opacity: 0.7;
  }

  &__feedback-engineer-name {
    font-weight: 700;
    font-size: 16rem;
    line-height: 162%;
    letter-spacing: -0.5rem;
    text-transform: uppercase;
    color: #151515;
    opacity: 0.7;
    width: 401rem;
    margin-left: 26%;
  }
}
