.step-first {
  position: relative;
  background-color: rgb(245, 245, 245);

  &__swiper {
    min-height: 44rem;
    width: 100%;
  }

  &__image {
    height: 100%;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46rem;
    min-height: 13rem;
    margin: 8.4rem 0 0 8rem;
  }
  &__feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46rem;
    height: 13rem;
    margin: 3.2rem 0 0 8rem;
  }

  &__feedback-icon {
    height: 10rem;
    border: 10px solid #fff;
    border-radius: 50%;
  }
  &__feedback-engineer {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -0.5px;
    color: #505050;
    opacity: 0.7;
  }

  &__feedback-engineer-name {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 162%;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: #151515;
    opacity: 0.7;
    width: 40.1rem;
    margin-left: 26%;
  }
}

@media (max-width: 992px) {
  .step-first {
    &__description {
      margin-left: 2rem;
    }
    &__feedback {
      margin-left: 0.5rem;
    }
    &__feedback-engineer-name {
      margin-left: 12%;
    }
  }
}

@media (max-width: 767px) {
  .step-first {
    background-color:#fff;
    &__description {
      text-align: center;
    }
    &__feedback {
      display: none;
    }
  }
}
